input[type="text"].form-control,
textarea.form-control{
	font-family:"DejaVu Sans Mono", "Courier New", Consolas, Monaco, monospace;
}
.clearfix.hidden-md-up{
	min-width:1px;
	min-height:1px;
}
.fieldset-odd,
.fieldset-even{
	padding-top:1rem;
	padding-bottom:1rem;
	margin-bottom:0.125rem;
}
.fieldset-odd{
	background-color:#f7f7f7;
}
.fieldset-even{
	background-color:#fcfcfc;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-lg{display:block!important}
}
@media (min-width: 1200px) {
	.d-block-xl{display:block!important}
}
